@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul{
  list-style: none;
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.poopi{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bubble{
  background-color:#3C84F0;

  width: max-content;
line-height: 90%;
  color: white;
  padding: 8px 20px;
  margin: 0px 10px;
  border-radius: 6px;
  font-weight: 500;
  margin: 10px 5px 0px 0px;
  font-size: 16px;
}